.userPage{
    background-color: rgb(124, 175, 243) ;
    min-height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin: 0 15px;
}

.userPageNav{
    display: flex;
    background-color: rgb(124, 175, 243);
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.userPageNav > button{
    height: 20px;
    text-transform: uppercase;
    margin: 15px 30px;
    background: rgb(124, 175, 243);
    border: none;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    color: whitesmoke;
}

